{% extends 'products/home_new.html' %}
{% block content %}
<div class="container">
     <div class="row">
          <div class="col-4">
              <form class="row" method="post" enctype="multipart/form-data">
                  <div class="card">
                      <div class="card-header">
                          <h4>Создать статью</h4>
                      </div>
                  <div class="card-body">
                     {% csrf_token %}
                      {{ form.as_p }}
                  </div>
                      <button type="submit" class="btn btn-primary">
                          {% if object %}
                          Сохранить
                          {% else %}
                          Создать
                          {% endif %}
                      </button>
                  </div>
              </form>
          </div>
     </div>
</div>
{% endblock %}